 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif; 
    scroll-behavior: smooth;
    height: auto;
  }
  .main {
    width: 100%;
    padding: 10px;
    /* background-color: rgb(243, 246, 250); */
    /* background-color: rgb(248, 248, 248); */
    background-color: rgb(255, 255, 255);
  }
  .whole-pages-div {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .pages-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mains-row {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    vertical-align: top;
  }
  .products-div {
    width: 45%;
    margin: 5px 10px 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
    max-height: auto;
    vertical-align: top;
    border-radius: 15px;
    overflow: hidden;
    perspective: 1px;
  }
  .products-presentation {
    width: 100%;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    vertical-align: top;
  }
  .products-img {
    width: 100%;
    display: block;
    transition: all 0.3s ease;
    height: auto;
    border-radius: 15px;
    object-fit: cover ;
  }
  .products-video {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    outline: none;
    border: 0px;
    top: 0px;
    position: absolute;
    opacity: 0;
    z-index: 100px;
    border-radius: 15px;
    object-fit: cover;
  }
  .products-div:hover .products-presentation .products-video {
    opacity: 1;
  }
  #products-owner {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 4;
    margin-bottom: 5px;
    margin-left: 1px;
    text-transform: uppercase;
  }
  #back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    color: #000;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
    z-index: 9999;
  }
  #back-to-top:hover {
    opacity: 0.5;
  }
  @media (max-width: 1024px) {
    .products-div{
      margin-bottom: 14px;
      width: 100%;
    }
    #products-owner{
      font-size: 14px;
      margin-top: 1.4mm;
    }
  }



  /* navbar css */
  .nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    /* background-color: rgba(248, 248, 248, 0.696); */
    background-color: rgba(255, 255, 255, 0.696);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(5px);
    top: 0px;
    user-select: none;
    z-index: 500;
    justify-content: center;
  }
  .pages-title {
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    cursor: default;
    color: #bb2649;
    text-decoration: none;
    letter-spacing: 1mm;
    cursor: pointer;
  }
  .navbars-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .navbars-menu li {
    list-style-type: none;
    width: 90px;
    text-align: right;
  }
  .navbars-menu li a {
    color: black;
    text-decoration: none;
    transition: all 0.2s ease;
    font-weight: bold;
  }
  .up-line {
    height: 15px;
    width: 1px;
    background-color: #000000;
    border-radius: 20px;
    margin: 10px 15px 10px 15px;
  }
  .long-line {
    width: 100%;
    height: 1px;
    background-color: #aaa;
  }
  .icon {
    font-size: 18px;
    margin-top: 2px;
  }
  .up-icon {
    font-size: 26px;
  }


  /* footbar css */

  .foot-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: rgb(248,248,248);

  }