<div class="nav-bar" id="navbar">
  <%= link_to "ARTSITE", "/artsites#", class: "pages-title" %>
  <ul class="navbars-menu">
    <li>
      <a href="#">EDITORIAL</a>
    </li>
    <div class="up-line"></div>
    <li>
      <a href="#">ADVERTISING</a>
    </li>
    <div class="up-line"></div>
    <li>
      <a href="#">FILM</a>
    </li>
    <div class="up-line"></div>
    <li>
      <a href="#">COVER</a>
    </li>
    <li>
      <a href="#">INFO</a>
    </li>
  </ul>

  <%# <div class="whole-menus-div">
    <div class="items-menu">
      <a href="#" classs="menus-link">
        <p class="ml-2 items-title">EDITORIAL</p>
      </a>
      <div class="long-line"></div>
      <a href="#" class="menus-link">
        <p class="ml-2 items-title">ADVERTISING</p>
      </a>
      <div class="long-line"></div>
      <a href="#" class="menus-link">
        <p class="ml-2 items-title">FILM</p>
      </a>
      <div class="long-line"></div>
      <a href="#" class="menus-link">
        <p class="ml-2 items-title">COVER</p>
      </a>
      <div class="long-line"></div>
      <a href="#" class="menus-link">
        <p class="ml-2 items-title">INFO</p>
      </a>
    </div>
  </div> %>
</div>