<div class="nav-bar">
<%= link_to "ARTSITE", "/artsites#", class: "pages-title" %>
  <%# <div class="whole-menus-div">
    <input type="checkbox" id="dropdown-menus-cb"/>
    <label for="dropdown-menus-cb" style="padding-right: 9px;">
      <div class="menus-icon">
        <div class="icons-top icons-line"></div>
        <div class="icons-bottom icons-line"></div>
      </div>
    </label>
    <div class="items-menu">
      <div class="single-menu-item">
        <div class="mis-l">
          <a href="#" classs="menus-link">
            <p class="ml-2 items-title">EDITORIAL</p>
          </a>
        </div>
      </div>
      <div class="long-line"></div>
      <div class="single-menu-item">
        <div class="mis-l">
          <a href="#" class="menus-link">
            <p class="ml-2 items-title">ADVERTISING</p>
          </a>
        </div>
      </div>
      <div class="long-line"></div>
      <div class="single-menu-item">
        <div class="mis-l">
          <a href="#" class="menus-link">
            <p class="ml-2 items-title">FILM</p>
          </a>
        </div>
      </div>
      <div class="long-line"></div>
      <div class="single-menu-item">
        <div class="mis-l">
          <a href="#" class="menus-link">
            <p class="ml-2 items-title">COVER</p>
          </a>
        </div>
      </div>
      <div class="long-line"></div>
      <div class="single-menu-item">
        <div class="mis-l">
          <a href="#" class="menus-link">
            <p class="ml-2 items-title">INFO</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <ul class="navbars-menu">
    <li>
      <a href="#">EDITORIAL</a>
    </li>
    <div class="up-line"></div>
    <li>
      <a href="#">ADVERTISING</a>
    </li>
    <div class="up-line"></div>
    <li>
      <a href="#">FILM</a>
    </li>
    <div class="up-line"></div>
    <li>
      <a href="#">COVER</a>
    </li>
    <li>
      <a href="#">INFO</a>
    </li>
  </ul> %>
</div>